---
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

let formattedDate = "Unknown Date";
if (pubDate) {
	const d = new Date(pubDate);
	if (!isNaN(d.getTime())) {
		formattedDate = d.toISOString().split("T")[0]; // Formats as YYYY-MM-DD
	}
}
---

<!doctype html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		{
			/* lucide is a library that provides a collection of icons that can be used in web apps */
		}
		<script src="https://unpkg.com/lucide@latest"></script>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				(window as any).lucide.createIcons(); // Initialize icons from CDN
			});
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<Header>
			<themeToggle></themeToggle>
		</Header>
		<main>
			<article>
				<div class="hero-image">
					{
						heroImage && (
							<img
								width={1020}
								height={510}
								src={heroImage}
								alt=""
							/>
						)
					}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
					</div>

					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		color: #ba5765;
		margin: 0;
	}
	.hero-image {
		width: 100%;
		max-width: 1020px;
		margin: 0 auto;
	}

	.hero-image img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}

	.prose {
		width: 100%;
		max-width: 920px;
		margin: auto;
		padding: 1em;
	}

	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
		color: #ba5765;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
		color: #ba5765;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
		color: #ba5765;
	}
	.last-updated-on {
		font-style: italic;
		color: #ba5765;
	}
</style>
